:root {
  --main-font: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  --secondary-font: 'Raleway', 'Verdana', 'Tahoma', sans-serif;
  --main-color: #212121;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --gray-color: #757575;
  --light-gray-color: rgba(117, 117, 117, 0.5);
  --background-color-dark: #2f303a;
  --background-color-gray: #f5f4fa;
  --opacity-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  display: block;
}

input {
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.address-list-link,
.menu-navigation-list-link,
.logo-link,
.logo-link-white,
.menu-contacts-list-link {
  text-decoration: none;
}

/* ======= COMPONENTS ======= */

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* ======= END COMPONENTS ======= */
/* ======= MENU NAVIGATION ======= */

.menu-navigation-list-item {
  position: relative;
}

.menu-navigation-list-link.current {
  color: var(--blue-color);
}

.menu-navigation-list-link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  top: 46px;
  left: 0;
  background-color: var(--blue-color);
  border-radius: 2px;
}

.menu-icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-contacts-list-link {
  display: flex;
  align-items: center;
}

.header-item .container {
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.logo-link {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.logo-blue {
  color: var(--blue-color);
}

.menu-navigation-list-item:nth-child(2) {
  margin-right: 46px;
  margin-left: 64px;
}

.menu-contacts-list-item:first-child {
  margin-right: 50px;
}

.menu-navigation,
.menu-navigation-list,
.menu-contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-navigation-list-link,
.menu-contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts-list-link {
  color: var(--gray-color);
}

.menu-navigation-list-link:hover,
.menu-navigation-list-link:focus,
.menu-contacts-list-link:hover,
.menu-contacts-list-link:focus,
.active-link {
  color: var(--blue-color);
}

/* ======= END MENU NAVIGATION ======= */
/* ======= HERO  ======= */

.background-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/Img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-header {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-top: 200px;
}

.btn {
  border: 0;
  width: 200px;
  height: 50px;
  background-color: var(--blue-color);
  color: var(--white-color);
  /* font-family: var(--main-font); */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.background-hero .btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 200px;
}

/* ======= HERO  ======= */
/* ======= WHY US ======= */

.article-list-icon {
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.article-list-item:not(:last-child) {
  margin-right: 30px;
}

.why-us.section {
  padding-bottom: 0;
}

.why-us .container {
  display: flex;
}

.article-list {
  display: flex;
}

.article-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
}

.article-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  margin-top: 10px;
}

/* ======= END WHY US ======= */
/* ======= OFFER ======= */

.bg {
  position: absolute;
  bottom: 0;
  /* z-index: 1; */
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.offer-list-item {
  position: relative;
}

.article-header.white {
  text-align: center;
}

.offer .container {
  display: flex;
  flex-direction: column;
}

.offer-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

/* ======= END OFFER ======= */
/* ======= TEAM ======= */

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.team .social-list {
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-decoration: none;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--blue-color);
  color: white;
}

.team-list-item {
  background-color: var(--white-color);
  width: 270px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team.section {
  background-color: var(--background-color-gray);
}

.team .container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--gray-color);
}

/* ======= END TEAM ======= */
/* ======= CUSTOMERS ======= */

.customers-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-decoration: none;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--blue-color);
  color: #2196f3;
}

/* ======= END CUSTOMERS ======= */
/* =======  CONTACT ======= */

.contact-container.container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.addresses {
  margin-right: 70px;
}

.join-us-header.white {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-us .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us .social-list-link:hover,
.join-us .social-list-link:focus {
  background-color: var(--blue-color);
}

.join-us .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.join-us .social-list {
  margin-top: 20px;
}

.contact {
  background-color: var(--background-color-dark);
}

.logo-link-white {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.address-list-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--opacity-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:nth-child(2) {
  margin: 9px 0;
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--blue-color);
}

.white {
  color: var(--white-color);
}

/*  newsletter  */

.newsletter {
  margin-left: 70px;
}

.newsletter-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.newsletter div {
  display: flex;
}

.newsletter .btn {
  align-self: flex-end;
  display: flex;
}

.newsletter svg {
  margin: auto;
}

.newsletter-email-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 0 0 0 16px;
  outline: none;
}

/*  END newsletter  */

/* ======= END CONTACT ======= */
/* =======  Backdrop  ======= */

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* right: 0;
  bottom: 0;  */
  /* transition: transform 500ms linear, opacity 500ms linear; */
  transition: 500ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  margin: auto;
  background-color: var(--white-color);
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.x-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-header {
  /* display: block; */
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

/* form */

.checkbox {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  border-color: var(--main-color);
  margin-right: 8px;
}

.documents {
  color: var(--blue-color);
}

.declaration {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.modal-form .label {
  position: relative;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.form-icon {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 45%;
  left: 14px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-icon:focus,          juz nie potrzeba bo dziala z +
.form-icon:hover {
  fill: var(--blue-color);
} */

/* , 
.comment:hover,                   sam focus nie dziala...
.modal-input:hover
.comment:focus,
.modal-input:focus
.label:focus .comment,
.label:focus .modal-input {
,
.label:hover .comment,
.label:hover .modal-input,*/

.label .comment:focus,
.label .modal-input:focus {
  border-color: var(--blue-color);
}

/* .modal-input:hover + .form-icon, */
.modal-input:focus + .form-icon {
  fill: var(--blue-color);
}

.modal-form .btn {
  margin-right: 124px;
  margin-left: 124px;
  margin-top: 30px;
}

.modal-form .modal-input,
.modal-form .comment {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-input {
  height: 40px;
  margin-bottom: 10px;
}

.modal-form .comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 25px;
}

.comment::placeholder {
  color: var(--light-gray-color);
}

.checkbox-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: baseline;
}

.declaration::before {
  display: inline-block;
  content: ' ';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  top: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .declaration::before {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* END form */

/* =======  END Backdrop  ======= */

/* ============================== portfolio ============================= */
/* =======  FILTERS  ======= */

.portfolio.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters-list {
  display: flex;
  justify-content: space-between;
  width: 572px;
  margin-bottom: 50px;
}

.filter-btn {
  border: 0;
  background-color: var(--background-color-gray);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.filter-btn:hover,
.filter-btn:focus,
.active-btn {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======= END FILTERS ======= */
/* =======  EXAMPLES  ======= */

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(33, 150, 243, 0.9);
  height: 294px;
  padding-left: 24px;
  padding-right: 45px;
  transform: translateY(295px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* cubic-bezier(0.4, 0, 0.2, 1); */
}

.examples-list-item:hover .overlay {
  transform: translateY(0);
}

.examples-list-description {
  color: var(--white-color);
  margin: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.examples-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.wrapper {
  position: relative;
  z-index: 3;
  background-color: var(--white-color);
  border: 1px solid #eee;
}

.examples-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.examples-list-title {
  padding-left: 24px;
  padding-bottom: 4px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list-category {
  padding-left: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.examples-list-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.examples-list-item:hover,
.examples-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ======= END EXAMPLES ======= */
